@font-face{
    font-family : "fancy";
    src : url('resource/CaviarDreams_Bold.ttf');
}

h1 {
	position: absolute;
	text-align:center;
	top:10%;
	left:50%;
	width:800px;
	margin-left:-400px;
	font-family: fancy;
	font-weight: bold;
	color:#AAA;
	font-size: 30px;
}


.webDropUser {
	width:100px;
	height: 100px;
	background-color:#CCC;
	border-radius:100%;
	border: solid 1px #666;
	display: inline-block;
	margin: 10px;
	position: absolute;
	top: 50px;
	z-index:100;
	top: 25%;
	left:50%;
	margin-left:-50px;
	background-image: url(avatar.png);
	background-position: 50% 0;

}

.webDropUser:hover {
	background-color:#FFC;
}



html, body {
	height:100%;
	width:100%;
	margin: 0;
	overflow: hidden;
}


.main {
	height:100%;
	width:100%;
}

.circle {
	border: solid 1px #CCC;
	border-radius:100%;
	position: absolute;
	left:50%;
	top:100%;
}

.circle_0 {width:50px; height:50px; margin-top:-25px; margin-left:-25px;}
.circle_1 {width:100px; height:100px; margin-top:-50px;margin-left:-50px;}
.circle_2 {width:150px; height:150px; margin-top:-75px;margin-left:-75px;}
.circle_3 {width:200px; height:200px; margin-top:-100px;margin-left:-100px;}



.scanner {
	position: absolute;
	height:100%;
	left:50%;
	width:1px;

	/*box-shadow: -0px 0 10px #0A0;*/


	background-color:#000;
	top:0;
}


.scanner {
	transform-origin: 0 100%;

   animation-name:rotation;
	-webkit-animation-name:rotation;
   -moz-animation-name:rotation;
	-o-animation-name:rotation;
   
	animation-duration:6s;
	-webkit-animation-duration:6s;
   -moz-animation-duration:6s;
	-o-animation-duration:6s;

   animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
   animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
   -moz-animation-timing-function:linear;
	-o-animation-timing-function:linear; 
}


@keyframes rotation{
   from {transform:rotate(0deg);} to {transform:rotate(360deg);}
}
@-webkit-keyframes rotation{
   from {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotation{
   from {-moz-transform:rotate(0deg);} to {-moz-transform:rotate(360deg);}
}
@-o-keyframes rotation{
   from {-o-transform:rotate(0deg);} to {-o-transform:rotate(360deg);}
} 